<%= render HeaderPanelComponent.new title: 'Teams' do%>
  <%= render NavButtonComponent.new "New Team", new_team_path %>
<%end%>
<%= render BodyPanelComponent.new notice: notice do %>
  <div id="teams" class="min-w-full">
    <%= render @teams %>
  </div>
<% end %>
