 <div class="flex">
    <div>
      <div class="grid grid-cols-2 gap-4">
        <%= render RadarComponent.new(
            blips: @blips.select {|b| b.interesting_thing.kind_tool?},
            quadrant: :tl
        ) %>

      <%= render RadarComponent.new(
            blips: @blips.select {|b| b.interesting_thing.kind_technique?},
            quadrant: :tr
      ) %>

      <%= render RadarComponent.new(
            blips: @blips.select {|b| b.interesting_thing.kind_gem?},
            quadrant: :bl
      ) %>

      <%= render RadarComponent.new(
            blips: @blips.select {|b| b.interesting_thing.kind_infrastructure?},
            quadrant: :br
      ) %>
      <div>
    </div>
    <div class="flex-grow">
    </div>
  </div>
  </div>