<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing blip activity</h1>

  <%= render "form", blip_activity: @blip_activity %>

  <%= link_to "Show this blip activity", @blip_activity, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Back to blip activities", blip_activities_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
