<%= render HeaderPanelComponent.new title: "Interesting Things" do%>
  <%= render NavButtonComponent.new "Add Something Interesting", new_interesting_thing_path %>
<% end %>

<%= render BodyPanelComponent.new notice: notice do%>
  <div id="interesting_things" class="min-w-full">
    <%= render @interesting_things %>
  </div>
<%end%>
