<%= render HeaderPanelComponent.new title: @interesting_thing.name.titleize do%>
  <%= render NavButtonComponent.new "Edit", edit_interesting_thing_path %>
<% end %>

<%= render BodyPanelComponent.new notice: notice do%>
  <div class="mx-auto">
    <%= render @interesting_thing %>
  </div>
<% end %>


